In [2]:

import numpy as np
import pandas as pd
import string
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

In [3]:
message_data = pd.read_csv("Content.csv",encoding = "latin")
message_data.head()

   Unnamed: 0                                            Content  Pages  Unit
0           8  ['1', 'introduct', 'human', 'be', 'curiou', 't...      1     1
1           9  ['210th', 'standard', 'scienc', 'mechan', 'bra...      2     1
2          10  ['3', 'law', 'motion', '1', '4', 'newton', 's'...      3     1
3          11  ['410th', 'standard', 'scienc', 'if', 'result'...      4     1
4          12  ['5', 'law', 'motion', 'the', 'rod', 'turn', '...      5     1

In [4]:
message_data = message_data.drop(['Unnamed: 0'], axis = 1)

In [5]:
message_data = message_data.rename(columns = {'Content':'content','Unit':'unit'})

In [6]:
message_data.groupby('unit').describe()

     Pages
     count   mean       std    min     25%    50%     75%    max
unit
1     15.0    8.0  4.472136    1.0    4.50    8.0   11.50   15.0
2     16.0   23.5  4.760952   16.0   19.75   23.5   27.25   31.0
3     10.0   36.5  3.027650   32.0   34.25   36.5   38.75   41.0
4     17.0   50.0  5.049752   42.0   46.00   50.0   54.00   58.0
5     15.0   66.0  4.472136   59.0   62.50   66.0   69.50   73.0
6     17.0   82.0  5.049752   74.0   78.00   82.0   86.00   90.0
7     15.0   98.0  4.472136   91.0   94.50   98.0  101.50  105.0
8     18.0  114.5  5.338539  106.0  110.25  114.5  118.75  123.0
9     13.0  130.0  3.894440  124.0  127.00  130.0  133.00  136.0
10    18.0  145.5  5.338539  137.0  141.25  145.5  149.75  154.0
11    18.0  163.5  5.338539  155.0  159.25  163.5  167.75  172.0
12    14.0  179.5  4.183300  173.0  176.25  179.5  182.75  186.0
13    13.0  193.0  3.894440  187.0  190.00  193.0  196.00  199.0
14    18.0  208.5  5.338539  200.0  204.25  208.5  212.75  217.0
15    11.0  223.0  3.316625  218.0  220.50  223.0  225.50  228.0
16    14.0  235.5  4.183300  229.0  232.25  235.5  238.75  242.0
17    18.0  251.5  5.338539  243.0  247.25  251.5  255.75  260.0
18    13.0  267.0  3.894440  261.0  264.00  267.0  270.00  273.0
19    12.0  279.5  3.605551  274.0  276.75  279.5  282.25  285.0
20    14.0  292.5  4.183300  286.0  289.25  292.5  295.75  299.0
21    15.0  307.0  4.472136  300.0  303.50  307.0  310.50  314.0
22    14.0  321.5  4.183300  315.0  318.25  321.5  324.75  328.0
23     5.0  331.0  1.581139  329.0  330.00  331.0  332.00  333.0

In [7]:
message_data_copy = message_data['content'].copy()

In [8]:

def text_preprocess(text):
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    return " ".join(text)

In [9]:
message_data_copy = message_data_copy.apply(text_preprocess)

In [10]:
message_data_copy

0      1 introduct human curiou thing around thing ar...
1      210th standard scienc mechan branch physic dea...
2      3 law motion 1 4 newton law motion 1 4 1 newto...
3      410th standard scienc result forc forc act bod...
4      5 law motion rod turn fix point call point rot...
5      610th standard scienc equilibrium algebra sum ...
6      7 law motion unit forc amount forc requir prod...
7      810th standard scienc fill fuel either liquid ...
8      9 law motion let m1 m2 mass two bodi b place r...
9      1010th standard scienc 1 10 5 variat acceler d...
10     11 law motion tabl 1 2 appar weight person mov...
11     1210th standard scienc 1 12 3 applic newton la...
12     13 law motion choos correct answer 1 inertia b...
13     1410th standard scienc iv match follow column ...
14     15 law motion ix hot question 1 two block mass...
15     1610th standard scienc introduct light form en...
16     17 optic 6 differ colour light differ waveleng...
17     1810th standard scienc 2 4 scatter light sunli...
18     19 optic tyndal scatter beam sunlight enter du...
19     2010th standard scienc 2 6 imag form due refra...
20     21 optic figur 2 8 object place c object place...
21     2210th standard scienc object anywher princip ...
22     23 optic height object magnif denot letter hei...
23     2410th standard scienc 2 16 human eye human ey...
24     25 optic th e maximum distanc eye see object c...
25     2610th standard scienc person may defect visio...
26     27 optic side object len thi imag behav object...
27     2810th standard scienc point rememb light form...
28     29 optic choos correct answer 1 refract index ...
29     3010th standard scienc 9 whi sky appear blue c...
                             ...
303    30410th standard scienc 21 4 tobacco abus toba...
304    305 health diseas 21 5 alcohol abus consumpt a...
305    30610th standard scienc increas blood glucos l...
306    307 health diseas dietari manag low carbohydr ...
307    30810th standard scienc caus risk factor obes ...
308    309 health diseas 21 11 cancer cancer caus 4 m...
309    31010th standard scienc 21 11 4 prevent measur...
310    311 health diseas point rememb use certain dru...
311    31210th standard scienc 8 metastasi associ mal...
312    313 health diseas 2 chang lifestyl risk factor...
313    31410th standard scienc concept map abus disor...
314    315 introduct environment manag deal differ as...
315    31610th standard scienc manag natur resourc te...
316    317 environment manag 22 3 wildlif conserv wil...
317    31810th standard scienc info bit wildlif conse...
318    319 environment manag 22 5 2 coal petroleum co...
319    32010th standard scienc solar cell solar cell ...
320    321 environment manag 22 6 3 shale ga shale re...
321    32210th standard scienc hydropow plant convert...
322    323 environment manag overcom rapid deplet gro...
323    32410th standard scienc caus sever soil ground...
324    325 environment manag solid wast manag involv ...
325    32610th standard scienc textbook evalu fill bl...
326    327 environment manag c cultiv plant warm eart...
327    32810th standard scienc refer book 1 ghatwal g...
328    329329 introduct gener whenev think comput thi...
329    33010th standard scienc 23 1 1 folder folder s...
330    331331 visual commun languag develop massachus...
331    33210th standard scienc ad sound 1 click sprit...
332    333333 visual commun output choos best answer ...
Name: content, Length: 333, dtype: object

In [11]:
vectorizer = TfidfVectorizer("english")

In [12]:
message_mat = vectorizer.fit_transform(message_data_copy)
message_mat

<333x7462 sparse matrix of type '<class 'numpy.float64'>'
	with 45110 stored elements in Compressed Sparse Row format>

In [24]:

message_train, message_test, unit_train, unit_test = train_test_split(message_mat, 
                                                        message_data['unit'], test_size=0.2, random_state=20)

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

unit_model = LogisticRegression(solver='liblinear', penalty='l1')
unit_model.fit(message_train, unit_train)
pred = unit_model.predict(message_test)
accuracy_score(unit_test,pred)

0.8059701492537313

In [26]:

def stemmer (text):
    text = text.split()
    words = ""
    for i in text:
            stemmer = SnowballStemmer("english")
            words += (stemmer.stem(i))+" "
    return words

In [27]:

message_data_copy = message_data_copy.apply(stemmer)
vectorizer = TfidfVectorizer("english")
message_mat = vectorizer.fit_transform(message_data_copy)

In [30]:

message_train, message_test, unit_train, unit_test = train_test_split(message_mat, 
                                                        message_data['unit'], test_size=0.2, random_state=20)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

unit_model = LogisticRegression(solver='liblinear', penalty='l1')
unit_model.fit(message_train, unit_train)
pred = unit_model.predict(message_test)
accuracy_score(unit_test,pred)

0.8059701492537313

In [32]:
message_data['length'] = message_data['content'].apply(len)
message_data.head()

                                             content  Pages  unit  length
0  ['1', 'introduct', 'human', 'be', 'curiou', 't...      1     1    2012
1  ['210th', 'standard', 'scienc', 'mechan', 'bra...      2     1    2927
2  ['3', 'law', 'motion', '1', '4', 'newton', 's'...      3     1    2686
3  ['410th', 'standard', 'scienc', 'if', 'result'...      4     1    2024
4  ['5', 'law', 'motion', 'the', 'rod', 'turn', '...      5     1    2755

In [33]:

length = message_data['length'].as_matrix()
new_mat = np.hstack((message_mat.todense(),length[:, None]))

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [34]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

unit_model = LogisticRegression(solver='liblinear', penalty='l1')
unit_model.fit(message_train, unit_train)
pred = unit_model.predict(message_test)
accuracy_score(unit_test,pred)

0.8059701492537313